[submodule "250312_stopwatch"]
	path = 250312_stopwatch
	url = https://github.com/Ever-glow/250312_stopwatch
[submodule "250317_uart"]
	path = 250317_uart
	url = https://github.com/Ever-glow/0317_uart_tx.srcs
[submodule "250319_mem"]
	path = 250319_mem
	url = https://github.com/Ever-glow/250319_mem
[submodule "250320_uart_fifo"]
	path = 250320_uart_fifo
	url = https://github.com/Ever-glow/250320_uart_fifo
[submodule "250321_uart_watch"]
	path = 250321_uart_watch
	url = https://github.com/Ever-glow/250321_uart_watch
[submodule "sub"]
	path = sub
	url = https://github.com/Ever-glow/250328_project_total
[submodule "250414_RISC_V_ALL.srcs"]
	path = 250414_RISC_V_ALL.srcs
	url = https://github.com/Ever-glow/250414_RISC_V_ALL.srcs
