[submodule "250312_stopwatch"]
	path = 250312_stopwatch
	url = https://github.com/Ever-glow/250312_stopwatch
[submodule "250317_uart"]
	path = 250317_uart
	url = https://github.com/Ever-glow/0317_uart_tx.srcs
[submodule "250319_mem"]
	path = 250319_mem
	url = https://github.com/Ever-glow/250319_mem
[submodule "250320_uart_fifo"]
	path = 250320_uart_fifo
	url = https://github.com/Ever-glow/250320_uart_fifo
